{
  "DB_HOST": "localhost",
  "DB_SCHEMA": "l_commsvc",
  "DB_USERNAME": "l_commsvc",
  "DB_PASSWORD": "l_commsvc",

  "CDN_SERVER": "...",
  "CDN_USERNAME": "...",
  "CDN_PASSWORD": "...",
  "CDN_PATH": "...",

  "PAYMENT_PROVIDER": "braintree",
  "BRAINTREE_merchant_id": "...",
  "BRAINTREE_public_key": "...",
  "BRAINTREE_private_key": "...",
  "BRAINTREE_merchant_account": "..."
}