body#OrganizationsController {
  /* controller-wide styles go here */

  #cyo-banner {
    margin: 2rem 0;
  }

  #advanced-search {
    display: none;
  }

  .sortable-header {
    cursor: pointer;
  }

  #projects {
    .project {
      border: 1px solid #ccc;
      margin: 1rem 0;
      padding: 2rem 1rem;
      box-shadow: 0 1px 4px rgba(0,0,0,0.2);

      .project-details, .fi-minus, .fi-info {
        display: none;
      }

      &:hover {
        cursor: pointer;
      }

      &.open {
        .project-details, .fi-minus {
          display: block;
        }

        .fi-info {
            display: inline;
        }

        .fi-plus {
          display: none;
        }

        &:hover {
          cursor: default;
        }

      }

    }
  }

  .close-reveal-modal {
    display: none;
  }

  &.index {
    /* page-specific styles go here */
  }
}
